<form action="/signup" method="post" class = "signup">
  <fieldset class="signup">
    <legend>Sign Up</legend>
      <ul id="errors">
      </ul>
    <input type="text" name="user[username]" id="signup_username" placeholder="Username"><br>
    <input type="text" name="user[email]" id="signup_email" placeholder="Email"><br>
    <input type="password" name="user[password]" id="signup_password" placeholder="Password">
    <br>
    
    <input type="submit" name="signup" value = "Sign Up!" id="signup">

  </fieldset>
</form>
