<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/upload.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>

  <title>Kevimgur</title>
</head>
<body>
  <% if current_user %>
  <div id="drop_zone">
  
    <h1 class="main">Simcha</h1>
    <h2 class="main">Please drag in your photo(s).</h2>

  <ul>
    <output id="list">
    </output>
  </ul>
    <!-- </p> -->
    <!-- <p>Fancy Cloudinary upload:</p>
    <p>
      <form method = "post" action="/" enctype="multipart/form-data">
      <p>CarrierWave Upload:</p> 
      <p>
      <input type="file" name='photo' value='picture' required>
      <input type="submit" value="Upload!">
    </p> -->
  </div>
  <% else %>
    <h1>Welcome to Kevimgur</h1>
    <p>Please Sign up or Log in to upload photos</p>

    <%= erb :_signup_form, :layout => false %>

    <%= erb :_login_form, :layout => false %>
  <% end %>
</body>
</html>
