<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">
  <h1>Try uploading</h1>
  <p>Fancy Cloudinary upload:</p>
  <p>


    <form method = "post" action="/" enctype="multipart/form-data">
    <p>CarrierWave Upload:</p> 
    <p>
    <input type="file" name='photo' value='picture' required>
    <input type="submit" value="Upload!">
  </p>

</div>
