<% if current_user %>
  <h1>Try uploading</h1>
  <p>Fancy Cloudinary upload:</p>
  <p>
    <form method = "post" action="/" enctype="multipart/form-data">
    <p>CarrierWave Upload:</p> 
    <p>
    <input type="file" name='photo' value='picture' required>
    <input type="submit" value="Upload!">
  </p>
<% else %>
  <h1>Welcome to Kevimgur</h1>
  <p>Please Sign up or Log in to upload photos</p>

  <%= erb :_signup_form, :layout => false %>

  <%= erb :_login_form, :layout => false %>
<% end %>
