<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>

  <title>Kevimgur</title>
</head>
<body>
  <nav>
    <li id="logo"><a href="/">Simcha</a></li>
    <ul class="nav">
      <% if current_user %>
      <li>Hi, <a href="/user/<%= current_user.id %>"><%= current_user.username %></a> <a href="/signout">[x]</a></li>
      <% end %>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
